/*https://www.w3schools.com/css/css3_variables.asp*/
:root{
  --light-bg: #fff;
  --dark-bg: #000;

  --light-card-bg: #eee;
  --dark-card-bg: #191919;
  --dark-card2-bg: #292929;

  --light-color: #e00;
  --dark-color: #f00;

  --light-text: #000;
  --dark-text: #bbb;
  --dark-title-text: #fff;

  --pixel-ratio: 3; /*the importance of the screen resolution in the scaling of items*/
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*https://stackoverflow.com/questions/11289166/chrome-on-android-resizes-font*/
  max-height: 999999999px;
  word-wrap: break-word;
}
body{
  font-size: calc(2vh + 2px * var(--pixel-ratio));
  /*https://www.hostinger.com/tutorials/best-html-web-fonts*/
  font-family: Calibri, Verdana, sans-serif;
  line-height: 1.6;
  width: 100%;
  overflow-x: hidden;
  /*background: var(--light-bg);*/
  /*min-height: 2000px;*/
  transition: color .25s ease-in-out, background-color .25s ease-in-out;
  color: var(--light-text);
  background: var(--light-bg);
}
body.dark-mode{
  color: var(--dark-text);
  background: var(--dark-bg);
}
.markup{
  padding: 5vh 15vw;
  overflow: hidden;
  /*transition: color .25s ease-in-out, background-color .25s ease-in-out;*/
  color: var(--light-text);
  background: var(--light-bg);
}
body.dark-mode .markup{
  font-weight: lighter;
  color: var(--dark-text);
  background: var(--dark-bg);
}
/*Portrait*/
@media (max-aspect-ratio: 3/2){
  .markup{
    padding: 5vh 5vw;
  }
}
/*Phone*/
@media (max-device-width: 1000px){
  body{
    font-size: calc(2vmax + 2px * var(--pixel-ratio));
  }
}
::selection{
  color: var(--dark-title-text);
  background: var(--light-color);
}
body.dark-mode ::selection{
  background: var(--dark-color);
}
header{
  /*height: calc(1vh * 25);*/
  position: relative;
  height: auto;
  padding: calc(1vh * 3);
  width: 100%;
  color: var(--dark-title-text);
  /*font-weight: lighter;*/
  /*background-image: url('./background.jpg');*/
  background-size: cover;
  background-position: center;
  /*margin-top: 5vh;*/
  text-align: center;
  /*position: relative;*/
  box-shadow: 0 0vh .5vh var(--dark-bg);
  transition: background-image 0.25s ease-in-out;
}
header *{
  text-shadow: 0 0 2vh var(--dark-bg), 0 0 2vh var(--dark-bg), 0 0 2vh var(--dark-bg), 0 0 2vh var(--dark-bg);
  width: auto;
  display: inline-block;
  font-weight: lighter;
}
header .title{
  font-size: calc(5vh + 5px * var(--pixel-ratio));
  display: block;
  /*border: 1px solid white;*/
  /*line-height: calc(1vh * 15);*/
}
header img{
  object-fit: cover;
  z-index: -10;
  position: absolute;
  top: 0; right: 0;
  width: 100%;
  height: 100%;
  /*https://alligator.io/css/cropping-images-object-fit/*/
}
.date{
  font-size: calc(1.5vh + 1.5px * var(--pixel-ratio));
  font-family: monospace;
  border-top: .1vh solid var(--dark-title-text);
  border-bottom: .1vh solid var(--dark-title-text);
}
@keyframes open-menu{
  from {
    max-height: 0;
  }
  to {
    max-height: none;
  }
}
@keyframes close-menu{
  from {
    max-height: none;
  }
  to {
    max-height: 0;
  }
}
nav{
  position: relative;
}
nav .menu-button, nav .dark-button{
  position: absolute; top: 0; right: 0;
  /*float: right;*/
  z-index: 100 !important;
  /*line-height: calc(1vh * 4);*/
  margin: calc(1vh * 2);
  /*font-size: calc(1vh * 10);*/
  /*font-weight: lighter;*/
  height: 5vh;
  cursor: pointer;
  text-align: center;
  transition: color .25s ease-in-out;
  /*border: 1px solid #000;*/
  -webkit-tap-highlight-color: transparent;
  /*https://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting*/
  -ms-user-select: none;
  user-select: none;
  /*color: var(--light-text);*/
}
/*https://www.w3schools.com/howto/howto_css_menu_icon.asp*/
nav .menu-button .bar, nav .dark-button .bar{
  height: .5vh;
  width: 5vh;
  margin-bottom: 1.5vh;
  background: var(--light-text);
  transition: .25s;
}
nav .menu-button.menu-button-opened .bar:nth-child(1){-webkit-transform: translate(0, 2vh) rotate(-45deg);}
nav .menu-button.menu-button-opened .bar:nth-child(2){margin: 1.5vh 2.5vh; width: 0;}
nav .menu-button.menu-button-opened .bar:nth-child(3){-webkit-transform: translate(0, -2vh) rotate(45deg);}

nav .dark-button{
  padding-top: 2.5vh;
}
nav .dark-button .bar{
  margin: -.5vh 0;
}

nav .dark-button .bar:nth-child(1){-webkit-transform: rotate(-90deg);}
nav .dark-button .bar:nth-child(2){-webkit-transform: rotate(-30deg);}
nav .dark-button .bar:nth-child(3){-webkit-transform: rotate(30deg);}

nav .dark-button:not(.dark-button-opened) .bar:nth-child(1){-webkit-transform: rotate(-60deg);}
nav .dark-button:not(.dark-button-opened) .bar:nth-child(2){-webkit-transform: rotate(0deg);}
nav .dark-button:not(.dark-button-opened) .bar:nth-child(3){-webkit-transform: rotate(60deg);}


nav .dark-button .circle{
  height: 3vh;
  width: 3vh;
  margin-top: -1.75vh;
  margin-left: 1vh;
  border-radius: 2.5vh;
  border: .5vh solid var(--light-text);
  background: var(--light-bg);
  -webkit-transform: rotate(0deg);
  transition: 0.25s;
}

nav .dark-button:not(.dark-button-opened) .circle{
  height: 0;
  width: 0;
  margin-top: 0;
  margin-left: 2.5vh;
  border-width: 0;
}

nav .dark-button{
  left: 0; right: auto;
  /*font-size: calc(1vh * 5);*/
  z-index: auto !important;
}
nav .dark-button-opened .bar{background: var(--dark-title-text);}
nav .menu-button-opened .bar{background: var(--dark-title-text);}
body.dark-mode nav .menu-button .bar{background: var(--dark-title-text);}
/*body.dark-mode nav .menu-button-opened .bar{
  animation-name: menu-button-dark-mode-animation;
  animation-duration: .33s;
}
@keyframes menu-button-dark-mode-animation{
  0%   {background: var(--dark-text);}
  50%  {background: var(--light-text);}
  100% {background: var(--dark-text);}
}*/

/*nav .ytsub{
  position: absolute; top: 0; right: calc(1vh * 6);
  padding: calc(1vh * 2);
  /*height: 50px; * /
}*/
nav .menu{
  overflow: hidden;
  height: auto;
  /*transform: scaleY(0);
  transform-origin: top;*/
  max-height: 0;
  /*margin: calc(1vh * -10) 0;*/
  padding-top: 0;
  padding-bottom: 0;
  /*transition: transform 0.25s ease-in-out, max-height 0.25s ease-in-out, margin 0.25s ease-in-out;*/
  transition: max-height 0.25s ease-in-out, padding 0.25s ease-in-out;
}
nav .menu-opened{
  /*transform: scaleY(1);*/
  max-height: 100vh; /*calc*/
  /*margin: 0 0;*/
  padding-top: 5vh; /*calc*/
  padding-bottom: 5vh; /*calc*/
}
/*Phone*/
@media (max-device-width: 1000px){
  header{
    padding: calc(1vmax * 3);
  }
  header .title{
    font-size: calc(5vmax + 5px * var(--pixel-ratio));
    /*line-height: calc(1vmax * 15);*/
  }
  .date{
    font-size: calc(1.5vmax + 1.5px * var(--pixel-ratio));
  }
  nav .menu-button{
    /*position: absolute; top: calc(1vmax * 25); right: 0;*/
    /*line-height: calc(1vmax * 4);
    padding: calc(1vmax * 2);
    font-size: calc(1vmax * 10);*/
    height: 5vmax;
    margin: calc(1vmax * 2);
  }
  /*nav .dark-button{
    font-size: calc(1vmax * 5);
  }*/
  nav .menu-button .bar, nav .dark-button .bar{
    height: .5vmax;
    width: 5vmax;
    margin-bottom: 1.5vmax;
  }
  nav .menu-button.menu-button-opened .bar:nth-child(1){-webkit-transform: translate(0, 2vmax) rotate(-45deg);}
  nav .menu-button.menu-button-opened .bar:nth-child(2){margin: 1.5vmax 2.5vmax; width: 0;}
  nav .menu-button.menu-button-opened .bar:nth-child(3){-webkit-transform: translate(0, -2vmax) rotate(45deg);}

  nav .dark-button{
    padding-top: 2.5vmax;
  }
  nav .dark-button .bar{
    margin: -.5vmax 0;
  }
  nav .dark-button .circle{
    height: 3vmax;
    width: 3vmax;
    margin-top: -1.75vmax;
    margin-left: 1vmax;
    border-radius: 2.5vmax;
    border-width: .5vmax;
  }
  nav .dark-button:not(.dark-button-opened) .circle{
    margin-left: 2.5vmax;
  }

  nav .menu-opened{
    /*margin: 0;*/
    max-height: 100vmax; /*calc*/
    padding-top: 5vmax; /*calc*/
    padding-bottom: 5vmax; /*calc*/
  }
}
.appear-animation, .markup > *, .markup{
  /*opacity: 1.0;
  margin-right: 2vw;*/

  opacity: 1;
  /*margin-left: 0vw;
  margin-right: 0vw;*/
  /*-webkit-transform: translateX(0);*/
  transition: opacity .25s ease-in-out, -webkit-transform .25s ease-in-out, background-color 0.25s ease-in-out;
  /*transition: opacity .25s ease-in-out, margin-left .25s ease-in-out, margin-right .25s ease-in-out, background-color 0.25s ease-in-out;/*, color 0.25s ease-in-out;*/
}
/*.markup{
  opacity: 1;
  transition: opacity .25s ease-in-out;
}*/
/*.markup{
  transition-duration: 0s;
}*/
/*.markup.no-transition{*/
  /*https://stackoverflow.com/questions/11848701/set-a-css3-transition-to-none*/
  /*transition-duration: 0s;*/
  /*transition: opacity .25s ease-in-out, margin-left .25s ease-in-out, margin-right .25s ease-in-out;*/
  /*background: #0f0;*/
/*}*/
/*.markup{
  transition: opacity .5s ease-in-out, margin-left .5s ease-in-out, margin-right .5s ease-in-out;
}*/
.appear-animation.disappeared, .markup > .disappeared{
  opacity: 0;
  /*margin-left: 2vw;
  margin-right: -2vw;*/
  /*-webkit-transform: translateX(2vw);*/
}
.markup.disappeared{
  opacity: 0;
  /*-webkit-transform: translateX(2vw);*/
}
.markup.disappeared-rev{
  opacity: 0;
  /*margin-left: -2vw;
  margin-right: 2vw;*/
  /*-webkit-transform: translateX(-2vw);*/
}

footer {
  position: relative;
  background: var(--dark-card-bg);
  color: var(--dark-title-text);
  padding: 5vh 15vw;
  box-shadow: 0 0vh .5vh var(--dark-bg);
}
/*footer*/ .tag{
  color: var(--dark-text);
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: calc(2vh + 2px * var(--pixel-ratio));
  padding: .5vh 1.5vh;
  margin: .5vh;
  border-radius: .5vh;
  border: .1vh solid var(--light-text);
  transition: color 0.125s ease-in-out, border-color .125s ease-in-out, -webkit-transform 0.125s ease-in-out;
  -webkit-tap-highlight-color: rgba(255, 0, 0, .25);
}
footer .hr{
  display: inline-block;
  width: 33%;
  border-top: .1vh solid var(--dark-text);
  margin-left: 1vh;
  height: .33em;
  margin: 0 2vw;
}
footer .copy{
  width: 100%;
  text-align: center;
  font-size: calc(1.5vh + 1.5px * var(--pixel-ratio));
  font-weight: lighter;
  font-family: monospace;
  position: absolute; bottom: 0; left: 0;
}
/*footer*/ .off{
  background: #111;
  color: var(--dark-text);
  font-weight: lighter;
}
/*footer*/ .on{
  background: #111;
  border-color: var(--dark-title-text);
  color: var(--dark-title-text);
  font-weight: lighter;
}
/*https://stackoverflow.com/questions/10964729/javascript-style-overriding-css-hover*/
/*footer*/ .on:hover{
  color: var(--dark-color) !important;
  border-color: var(--dark-color) !important;
  -webkit-transform: scale(1.05, 1.05);
}
/*footer*/ .off:hover{
  color: var(--dark-color) !important;
  -webkit-transform: scale(1.05, 1.05);
}
/*Portrait*/
@media (max-aspect-ratio: 3/2){
  footer {
    padding: 5vh 5vw;
  }
  footer .hr{
    width: 95%;
  }
}
/*Phone*/
@media (max-device-width: 1000px){
  footer a{
    padding: 0vmax 1vmax;
    margin: .5vmax;
    border-radius: .5vmax;
    border: .1vmax solid var(--light-text);
  }
  footer {
    padding: 5vmax 5vmax;
  }
  footer .copy{
    font-size: calc(1vmax + 1px * var(--pixel-ratio));
  }
  /*footer*/ .tag{
    font-size: calc(1.5vmax + 1.5px * var(--pixel-ratio));
    padding: .5vmax 1.5vmax;
    margin: .5vmax;
    border-radius: .5vmax;
    border-width: .1vmax;
  }
}

::-webkit-scrollbar{
  /*width: 1vh;*/
}
::-webkit-scrollbar-track{
  background: rgba(0, 0, 0, 0);/*var(--dark-bg);*/
  /*box-shadow: inset 5px 0 5px #000;*/
  /*background-clip: content-box;*/
}
/*::-webkit-scrollbar-thumb{
  background: var(--dark-bg);
  border-radius: .5vh;
}
body.dark-mode::-webkit-scrollbar-thumb{
  background: var(--light-bg);
}
body::-webkit-scrollbar-thumb:hover{
  background: var(--dark-color);
}*/
