/*  style inspiration: https://ireade.github.io/Toast.js/  */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-height: 999999999999px;
}

.multiToastContainer{
  width: 100%;
  height: 100%;
  position: absolute; top: 0; left: 0;
  z-index: 1000000000000;
}

.multiToast{
  position: absolute; bottom: 0; left: 0;
  width: calc(var(--vh, 1vh) * 50);
  padding: calc(var(--vh, 1vh) * 1);
  margin: calc(var(--vh, 1vh) * 2);
  max-width: calc(100vw - calc(var(--vh, 1vh) * 4));
  border: 0px solid #000;
  border-left-width: calc(var(--vh, 1vh) * .5);
  border-radius: calc(var(--vh, 1vh) * .75);
  box-shadow: 0 0 calc(var(--vh, 1vh) * 1) 0 #888;
  font-size: calc(var(--vh, 1vh) * 2.5);
  direction: rtl;
  pointer-events: all;
}
.multiToast *{
  direction: ltr;
}


.multiToast p, .multiToast input, .multiToast button{
  border-radius: calc(var(--vh, 1vh) * .75);
  border: none;
  font-size: .85em;
  background: #eee;
}
.multiToast input{
  width: calc(100% - 2vh); /*why is box-sizing not workin???*/
  margin: calc(var(--vh, 1vh) * 1);
  padding: calc(var(--vh, 1vh) * .75);
  background: #fff;
}
.multiToast button{
  float: right;
  margin: calc(var(--vh, 1vh) * 1);
  padding: calc(var(--vh, 1vh) * .75) calc(var(--vh, 1vh) * 1.25);
  box-shadow: 0 0 calc(var(--vh, 1vh) * 1) 0 #ccc;
}
.multiToast p{
  margin: calc(var(--vh, 1vh) * 1);
  font-size: 1em;
  background: rgba(0, 0, 0, 0);
}
