/*  style inspiration: https://ireade.github.io/Toast.js/  */
.multiToast * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-height: 999999999999px;
}

.multiToastContainer{
  width: 100%;
  height: 100%;
  position: fixed; top: 0; left: 0;
  z-index: 1000000000000;
  transition: background-color .33s ease-out;
  pointer-events: none;
}

.multiToast{
  position: fixed; bottom: 0; left: 0;
  width: calc(var(--vh, 1vh) * 50);
  padding: calc(var(--vh, 1vh) * 1);
  margin: calc(var(--vh, 1vh) * 2);
  max-width: calc(100vw - calc(var(--vh, 1vh) * 4));
  color: #000;
  background: #fff;
  border: 0px solid #000;
  border-left-width: calc(var(--vh, 1vh) * .5);
  border-left-color: #ddd;
  border-radius: calc(var(--vh, 1vh) * .75);
  box-shadow: 0 0 calc(var(--vh, 1vh) * 1) 0 #888;
  font-size: calc(var(--vh, 1vh) * 2.5);
  /*direction: rtl;*/
  pointer-events: all;
  overflow: hidden;
  -webkit-transform: translateX(-125%) translateY(0%);
  transition: -webkit-transform .33s ease-out, opacity 1s ease-out;
  text-align: right;
}
.multiToast.visible{
  -webkit-transform: translateX(0%) translateY(0%);
}
.multiToast.background{
  -webkit-transform: translateX(0%) translateY(100%);
}
.multiToast > *{
  /*direction: ltr;*/
  width: 100%;
  text-align: left;
}


.multiToast p, .multiToast input, .multiToast button{
  border-radius: calc(var(--vh, 1vh) * .75);
  border: none;
  font-size: .85em;
  background: #eee;
}
.multiToast input{
  width: calc(100% - 2vh); /*why is box-sizing not workin???*/
  margin: calc(var(--vh, 1vh) * 1);
  padding: calc(var(--vh, 1vh) * .75);
  background: #fff;
  border: 0px solid #000;
  border-bottom-width: calc(var(--vh, 1vh) * .25);
  border-bottom-color: #ddd;
}
/*.multiToast input:focus{
  border-width: calc(var(--vh, 1vh) * .25);
  border-color: #ccc;
}*/
.multiToast button{
  display: inline-block;
  width: auto;
  margin: calc(var(--vh, 1vh) * 1);
  padding: calc(var(--vh, 1vh) * .75) calc(var(--vh, 1vh) * 1.25);
  box-shadow: 0 0 calc(var(--vh, 1vh) * 1) 0 #ccc;
  cursor: pointer;
}
.multiToast p{
  margin: calc(var(--vh, 1vh) * 1);
  font-size: 1em;
  background: rgba(0, 0, 0, 0);
}
.multiToast img{
  margin: calc(var(--vh, 1vh) * 1) calc(var(--vh, 1vh) * 2);
  margin-left: calc(var(--vh, 1vh) * 1);
  height: 100%;
  width: calc(var(--vh, 1vh) * 4);
  object-fit: contain;
  float: left;
}
